
mat-form-field{
    margin: 0 32px;
    padding-top: 16px;
    min-width: 200px;
}

.formFieldContainer{
    display: flex;
    flex-direction: column;
}

.dialog-btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}